body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
}

#logo {
    height: 10vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo > img {
    height: 10vmin;
    min-height: 35px;
}

nav {
    display: flex;
    width: 90vw;
    height: 35px;
    overflow: hidden;
    background-color: #333;
}

nav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 15px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: #4CAF50;
    color: white;
}

aside {
    display: inline-block;
    position: fixed;
    width: 10%;
    height: 90vh;
    background-color: #0077B6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ad {
    right: 0;
}

main {
    display: inline-block;
    width: 80%;
    height: 90vh;
    margin-left: 10%;
}

#burger-menu {
    order: -1;
    display: none;
    width: 35px;
    height: 35px;
    background-color: white;
}

#burger-menu > div {
    border: 1px solid black;
    margin: 7px;
}

#burger-menu:hover, #burger-menu:hover div {
    background-color: #333;
    cursor: pointer;
    border-color: white;
}




.primary-section, .secondary-section {
    display: flex;
    height: 45vh;
}

.secondary-section {
    padding: 2.5vh;
}

.large {
    height: 100%;
    width: 50%;
    background-color:#00B4D8;
}

.medium {
    height: 40vh;
    width: 33%;
    background-color: #00B4D8;
}

.small {
    height: 40%;
    width: 40%;
    background-color: #E9C46A;
}

.grid-flex {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: #ADE8F4;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.col-box {
    height: 100%;
}

.col-box:nth-of-type(1) {
    background: #90e0ef;
}

.col-box:nth-of-type(2) {
    background: #ade8f4;
}

.col-box:nth-of-type(3) {
    background: #caf0f8;
}

@media only screen and (max-width:768px) {

    #burger-menu {
        display: inline-block;
    }

    aside {
        display: none;
    }

    .primary-section, .secondary-section {
        flex-wrap: wrap;
        height: 90vh;
        padding: 0;
    }

    .large {
        width: 100%;
        height: 50%;
    }

    .medium {
        width: 50%;
        height: 50%;
    }

    .secondary-section > article:last-of-type {
        width: 100%;
        background-color: #48CAE4;
    }
}

@media only screen and (max-width:500px) {

    main {
        margin: 0;
        width: 100%;
    }

    .medium {
        width: 100%;
        height: 50%;
    }
    
}